/* Đổi font chữ và màu nền */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}


/* Canh giữa nội dung */

.container {
    text-align: center;
    margin-top: 150px;
    right: 150px;
}


/* Ảnh đại diện tròn */

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Tùy chỉnh chữ */

h1 {
    color: #333;
    margin-top: 20px;
}

p {
    color: #555;
    font-size: 16px;
}