body{
    background-color: blue;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.profile{
    text-align: center;
    background-color: brown;
    padding:30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Làm ảnh tròn */
    object-fit: cover;
    margin-bottom: 20px;
}